In [ ]:
# import necessary libraries
import pandas as pd

In [ ]:
# read the CSV file
df = pd.read_csv('/content/Assign1_Q1_data_raw.csv')
df.head()

   Height (Inches)  Weight (Pounds)  Age  Grip strength Frailty
0             65.8              112   30             30       N
1             71.5              136   19             31       N
2             69.4              153   45             29       N
3             68.2              142   22             28       Y
4             67.8              144   29             24       Y

In [ ]:
# find unique value each column
for col in df:
  print(df[col].unique())

[65.8 71.5 69.4 68.2 67.8 68.7 69.8 70.1 67.9 66.8]
[112 136 153 142 144 123 141 120]
[30 19 45 22 29 50 51 23 17 39]
[30 31 29 28 24 26 22 20 19]
['N' 'Y']

###**Data Preprocessing**

In [ ]:
# find total number of null value
df.isnull().sum()

Height (Inches)    0
Weight (Pounds)    0
Age                0
Grip strength      0
Frailty            0
dtype: int64

In [ ]:
# reduce spaces in cloumn name by rename it
df = df.rename(columns={'Height (Inches)':'Height_inches', 
                        'Weight (Pounds)':'Weight_pounds',
                        'Grip strength':'Grip_strength'})
df

   Height_inches  Weight_pounds  Age  Grip_strength Frailty
0           65.8            112   30             30       N
1           71.5            136   19             31       N
2           69.4            153   45             29       N
3           68.2            142   22             28       Y
4           67.8            144   29             24       Y
5           68.7            123   50             26       N
6           69.8            141   51             22       Y
7           70.1            136   23             20       Y
8           67.9            112   17             19       N
9           66.8            120   39             31       N

In [ ]:
# create an BMI column
df['BMI'] = (df['Weight_pounds']/(df['Height_inches'])**2*703).round(2)
df.head()

   Height_inches  Weight_pounds  Age  Grip_strength Frailty    BMI
0           65.8            112   30             30       N  18.19
1           71.5            136   19             31       N  18.70
2           69.4            153   45             29       N  22.33
3           68.2            142   22             28       Y  21.46
4           67.8            144   29             24       Y  22.02

In [ ]:
# write the cleaned csv file
df.to_csv('Assign1_Q1_data_clean.csv')